
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.money {
  text-align: right;
  color: black;
  
}


.highLight {
  background-color: #b74e4e;
  border: solid 1px red;
  color: black;
}



tfoot td, thead td{
  background-color: #b74e4e;
  font-weight: normal;
}



tfoot td, thead th{
  background-color: rgb(214, 143, 30);
  font-weight: bold;
}
